<!DOCTYPE html>
<html>
  <head>
    <title><%= project %></title>
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <link rel='stylesheet' type='text/css' href='/stylesheets/index.css'/>
  </head>
  <body>
    <h1>Built with repository</h1>
    <a href="<%= projectUrl %>"><%= project %></a>
  </body>
</html>
